$color1: #eeeeee;
$color2: #00adb5;
$color3: #393e46;
$color4: #222831;


.EditProfile {
  width: 100%;
  height: 100%;
  background-color: $color3;

  h2 {
    color: $color1;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: $color1;
      border: 1px solid lime;
      display: block;

      .select {
        color: $color1;
        
        option {
          color: $color1;
        }
      }

      .text-input {
       display: block;
      }
    }
  }
}
