$color1: #eeeeee;
$color2: #00adb5;
$color3: #393e46;
$color4: #222831;

.SocialLinks {
  width: 10rem;
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;

  li {

    a {
      height: 50px;
      width: 50px;

      svg {
        fill: $color1;
      }
    }
  }
}
