$color1: #eeeeee;
$color2: #00adb5;
$color3: #393e46;
$color4: #222831;


.SignUp {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $color3;
  
  h1 {
    color: $color1;
    animation: fade-in .6s ease-in forwards;
    margin: 2rem 0;
  }

  form {
    -webkit-animation: slide-in-fwd-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-radius: 10px;
    border: 2px solid $color2;
    height: 25rem;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $color4;
    color: white;

    label {
      display: flex;
      flex-direction: column;
    }

    input {
      color: $color1;
      outline: none;
      border: none;
    }

    .submit {
      border: 2px solid white;;
      color: white;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .Mui-focued {
      border-color: white;
      outline: none
    }
    .MuiOutlinedInput-notchedOutline {
      outline: none;
      color: white;
      border: 2px solid white !important;
    }
  }
}



 @-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
            transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
            transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
