.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #d6e0f0;
  
  form {
    border-radius: 20px;
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #8d93ab;

    label {
      display: flex;
      flex-direction: column;
    }
  }
}
