$color1: #eeeeee;
$color2: #00adb5;
$color3: #393e46;
$color4: #222831;


.LinksDisplay {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  ul {
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.25);
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
  }
}
